<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <!-- Cadena de conexión a base de datos
			- Asegurarse que la base de datos "organitask" y sus tablas ya existen en SQL Server
			- Cambiar "SERVER_NAME" por el nombre de servidor de base de datos local -->
	  <add
		  name="organitaskEntities"
		  connectionString="
		    metadata=res://*/Entities.OrganiTaskDB.csdl|res://*/Entities.OrganiTaskDB.ssdl|res://*/Entities.OrganiTaskDB.msl;
			provider=System.Data.SqlClient;
			provider connection string=&quot;data source=SERVER_NAME; 
			initial catalog=organitask;
			integrated security=True;
			encrypt=True;
			trustservercertificate=True;
			MultipleActiveResultSets=True;
			App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient"
	/>
  </connectionStrings>
</configuration>